:root {
    --color-white: #FFFFFF;
    --color-blackolive: #3B413C;
    --color-opal: #9DB5B2;
    --color-lightcyan: #DAF0EE;
    --color-middlebluegreen: #94D1BE;
}

* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: var(--color-white);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    background-color: var(--color-blackolive);
    padding: 20px;
    border-radius: 10px;
    display: none;
}

#container>.block {
    padding: 20px;
}

.block {
    color: var(--color-white);
}

.block:first-child {
    background-color: var(--color-lightcyan);
    color: #000;
    border-radius: 10px;
}

.information-container {
    display: flex;
}

.info {
    margin-left: 5px;
}

#location {
    font-weight: bold;
    font-size: 22px;
}

.loader {
    font-size: 10px;
    margin: 50px auto;
    text-indent: -9999em;
    width: 11em;
    height: 11em;
    border-radius: 50%;
    background: #000;
    background: -moz-linear-gradient(left, #000000 10%, rgba(0, 0, 0, 0) 42%);
    background: -webkit-linear-gradient(left, #000000 10%, rgba(0, 0, 0, 0) 42%);
    background: -o-linear-gradient(left, #000000 10%, rgba(0, 0, 0, 0) 42%);
    background: -ms-linear-gradient(left, #000000 10%, rgba(0, 0, 0, 0) 42%);
    background: linear-gradient(to right, #000000 10%, rgba(0, 0, 0, 0) 42%);
    position: relative;
    -webkit-animation: load3 1.4s infinite linear;
    animation: load3 1.4s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}

.loader:before {
    width: 50%;
    height: 50%;
    background: #000;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
}

.loader:after {
    background: #fff;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

@-webkit-keyframes load3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}